{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="{% static '/css/styles.css' %}">
    <title>WordCardsWeb</title>
</head>
<body>
    <!-- Nav Bar -->
    <div class="">
    {% if user.is_authenticated %}

      {% include 'main/nav_bar.html' %}

      {% block content %}
      {% endblock %}

    {% else %}
    <nav>
        <div >
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </nav>
    {% endif  %}
    </div>
</body>
</html>
