{% extends 'main/base.html' %}
{% block content %}

<h2> Dictionary page </h2>


<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form1.word }}
    {{ form1.image }}
    {{ form1.translation }}
    <p><input type="submit" value="Add Word" /></p>
</form>
    <div class="dic_main_section">
      <div class="dic_list">
        {% for instance in object_list %}
          <p>{{ instance.id }} - <a href="{{ instance.get_absolute_url }}">{{ instance.word }}</a>
          <a href="{% url 'word-delete' instance.pk %}">Delete</a>
          <a href="{% url 'word-update' instance.pk %}">Update</a>
        </p>
        {% endfor %}
      </div>
      <div class="">
        <div class="">
          Words in the dictionary: <b>{{ len_dict }}</b>
        </div>
        <div class="">
          Rights answers
          <input type="text" name="right_number" />
        </div>
      </div>
    </div>


{% endblock  %}
<!-- <a href="{% url 'word-create' %}">Add new Word</a> -->
  <!-- {{ form1.as_p }} -->
